<md-toolbar color="primary">
  <span>&copy; P1xt 2017</span>
  <span class="fill"></span>
  <span>source on 
    <a href="https://gitlab.com/fcc-projects/calculator">GitLab</a>
    </span>
</md-toolbar>
