<section>
  <md-card class="calculator">
    <div>
      <h1>FreeCodeCamp</h1>
      <h2>Electronic Calculator</h2>
    </div>
    <input id="display" type="text" disabled="disabled" placeholder="{{ display }}">
    <div>
      <div>
        <button md-raised-button color="accent" (click)="process($event)" class="double">CLEAR</button>
        <button md-raised-button (click)="process($event)">/</button>
        <button md-raised-button (click)="process($event)">*</button>
      </div>
      <div>
        <button md-raised-button (click)="process($event)">7</button>
        <button md-raised-button (click)="process($event)">8</button>
        <button md-raised-button (click)="process($event)">9</button>
        <button md-raised-button (click)="process($event)">-</button>
      </div>
      <div>
        <button md-raised-button (click)="process($event)">4</button>
        <button md-raised-button (click)="process($event)">5</button>
        <button md-raised-button (click)="process($event)">6</button>
        <button md-raised-button (click)="process($event)">+</button>
      </div>
      <div>
        <button md-raised-button (click)="process($event)">1</button>
        <button md-raised-button (click)="process($event)">2</button>
        <button md-raised-button (click)="process($event)">3</button>
      </div>
      <div>
        <button md-raised-button (click)="process($event)">0</button>
        <button md-raised-button (click)="process($event)">.</button>
        <button md-raised-button color="primary" class="double" (click)="process($event)">=</button>
      </div>
    </div>
  </md-card>
</section>