@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
#display {
	font-family: 'Cutive Mono', ;
	font-size: 160%;
	font-weight: bold;
	background: #c5c6b3;
	box-shadow: inset 1px -1px 1px #232323;
	cursor: default;
  margin-bottom: 30px;
  width: 237px;
  color: #343434;
}
button {
  min-width: 1%;
  width: 53px;
  margin: 2px;

}
.double {
  width: 114px;
}
h1 {
	font-family: 'Satisfy', cursive;
	font-size: 160%;
	margin-top: 10px;
  text-align: center;
  color: #fff;
}
h2 {
  text-align: center;
	font-size: 120%;	
	margin-top: 5px;
	margin-bottom: 20px;
	font-variant: small-caps;
  color: #ccc;
}
.calculator {
  width: 245px;
  background: #333;
  margin: 20px auto;
}